.password-reset-container {
  max-width: 1000px;
  margin: -70px auto;
  padding: 20px;
  text-align: center;
}

.password-reset-container h2 {
  font-size: 40px;
  margin-bottom: 25px;
}

.password-reset-container p {
  font-size: 20px;
  color: #4b6bfb;
  margin-bottom: 20px;
}

.password-reset-container .verification-form,
.password-reset-container .reset-password-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.password-reset-container .input-group {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 500px; /* 인풋 그룹 너비 고정 */
  justify-content: center;
}

.password-reset-container .input-group input {
  flex: 1; /* 버튼이 포함된 경우에도 동일한 너비로 확장 */
  max-width: 500px; /* 모든 인풋 필드의 최대 너비를 고정 */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 1px;
  font-size: 14px;
}

/* 각 버튼에 개별 스타일 적용 */
.password-reset-container .send-code-btn {
  padding: 8px 15px;
  background-color: #4b6bfb;
  color: white;
  font-size: 16px;
}

.password-reset-container .verify-btn {
  padding: 8px 49px;
  background-color: #4b6bfb;
  color: white;
  font-size: 16px;
}

.password-reset-container .reset-btn {
  padding: 8px 20px;
  background-color: #4b6bfb;
  color: white;
  font-size: 16px;
}

/* 버튼 비활성화 스타일 */
.password-reset-container button:disabled {
  background-color: #4b6bfb;
  cursor: not-allowed;
}

.password-reset-container hr {
  margin: 20px 0;
  border: none;
}
